.homeroot{

display:flex;

justify-content: space-around;

};

.pcard{
  width: 250 px ;
  margin: 2 px ;

};

.imgcss{
  height: 300 px ;
 
  object-fit:cover ;
};

.carousel
{
  margin: 50vh;
  height: 200px;
  width: auto;
}

.category
{
  position: fixed;
  bottom: 50px;
  right: 30px;
  z-index: 1200;
}

.beutifysearch{
  height: "150px";
  overflow-y: auto;
}
.pages{

  display: flex;
  justify-content: center;
  top: 100px;
  bottom: 5px;
}

.chip:hover{
  background-color: #e65100 ;
  color: white;
}